@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details:</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
  @if (@Model.Clients.Count == 0)
  {
    <p>no clients found</p>
  }

  @foreach(Client client in Model.Clients)
  {
    <h4>@client.Name</h4>
  }
</ul>

<p>@Html.ActionLink("Add new client", "Create","Clients")</p>
<p>@Html.ActionLink("View all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Back to stylists", "Index")</p>